.aboutContainer {
  padding-bottom: 80px;
  .header {
    position: relative;
    height: 472px;
    overflow: hidden;

    .backgroundContainer {
      position: relative;
      .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(#c4c4c4 5%, #000 );
        opacity: 0.5;
      }

      .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: linear-gradient;
      }
    }

    h1 {
      position: absolute;
      left: calc((100% - 1280px)/2);
      bottom: 100px;
      z-index: 2;
    }
  }

  .storyContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;

    .story {
      width: 725px;
      text-align: center;
      color: color(secondary);
      font-size: 16px;
      font-weight: 325;
    }

    .storyFeedback {
      width: 642px;
      margin-top: 89px;
    }
  }  

  .cardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 113px;
    padding: 67px calc((100% - 1280px)/2) 0 calc((100% - 1280px)/2);

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 287px;
      padding: 0 25px 40px 25px;
      background-color: color(dark);
      border-radius: 6px;

      img {
        height: 125px;
        margin-top: -100px;
      }

      h3 {
        width: 100%;
        margin-top: 43px;
        font-size: 24px;
        font-weight: 400;
        color: white;
        line-height: 29px;
      }

      p {
        width: 100%;
        font-weight: 200;
        margin-top: 21px;
        font-size: 16px;
        font-weight: 200;
        line-height: 19px;
      }
    }
  }

  .ecoloBullshitContainer, 
  .engagementBullshitContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 146px;
    margin-left: calc((100% - 1280px)/2);
    margin-right:calc((100% - 1280px)/2);


    .text {
      width: 565px;
      h2 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 60px;
      }

      p {
        font-size: 16px;
        font-weight: 325;
        line-height: 19px;
        white-space: pre-line;
      }
    }

    img {
      width: 612px;
      height: 612px;
      border-radius: 50%;
      margin-right: -32px;
    }
  }

  
  .engagementBullshitContainer {

    .text {
      width: 593px;
    }

    img {
      margin-right: 94px;
      margin-left: -51px;
    }
  }

  .crewContainer {
    margin-top: 187px;
    padding:0 calc((100% - 1280px)/2) 0 calc((100% - 1280px)/2);

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 67px;
    }

    .membersContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 50px;
      width: 100%;

      .member {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 307px;
          height: 307px;
          border-radius: 50%;
          margin-bottom: 16px;
          object-fit: cover;
        }

        h3 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          font-weight: 325;

        }
      }
    }

  }
  
}

@media (max-width: 700px) {
  .aboutContainer {
    margin-top: 65px;
    .header {
      position: relative;
      height: 150px;
      overflow: hidden;

      h1 {
        left: 20px;
        bottom: 20px;
      }

      .backgroundContainer {
        height: 100%;

        .background {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .storyContainer {
      margin-top: 40px;
      .story {
        width: 80%;
      }
    }

    .cardsContainer {
      flex-direction: column;
      padding: 0 20px;

      .card {
        width: 100%;
        margin-top: 140px;

        &:first-child {
          margin-top: 40px;
        }
      }
    }

    .ecoloBullshitContainer,
    .engagementBullshitContainer {
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      margin-right: 20px;

      .text {
        width: 100%;
      }

      img {
        width: 80%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .engagementBullshitContainer {
      flex-direction: column-reverse;
    }

    .crewContainer {
      padding: 0 20px;
      margin-top: 100px;

      .membersContainer {
        grid-template-columns: repeat(1, 1fr)
      }
    }
  }
}