.choiceBar {
  position: relative;
  width: 100%;
  padding: 9px 16px;
  color: color(secondary);
  font-size: 14px;
  background-color: color(dark);
  border-radius: 3px 3px 0 0;
  cursor: pointer;

  .selectedElement {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .placeholder {
      color: color(secondary, 0.6)
    }

    .arrow {
      transform: rotate(0deg);
      transition: transform .3s ease;

      &.reverse {
        transform: rotate(180deg);
      }
    }

    
  }

  .listContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    // margin-top: 10px;
    background-color: color(dark);
    padding: 9px 16px;
    border-radius: 0 0 3px 3px;

    .listElement {
      margin-top: 5px;
      color: color(secondary,0.8);
      transition: color .2s ease;

      &:hover {
        color: color(secondary);
      }
    }
  }

}