.landingContainer {
  .header {
    position: relative;
    // padding: 67px 0 0 calc((100% - 1280px)/2);
    height: 472px;
    overflow: hidden;

    @media only screen and (min-width: 1900px) {
      height: 500px;
    }

    @media only screen and (min-width: 2000px) {
      height: 650px;
    }

    .back {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: -1;
      overflow:hidden;

      .background {
        top: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .substract {
        margin-top: -50px;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        object-fit: cover;
      }

      
      @media only screen and (min-width: 1370px) {
        .background {
          height: 370px;
        }

        .substract {
          margin-top: -50px;
        }
      }
      
      @media only screen and (min-width: 1500px) {
        .background {
          height: 400px;
        }
        
        .substract {
          margin-top: -70px;
        }
      }

      @media only screen and (min-width: 2000px) {
        .background {
          height: 520px;
        }

        .substract {
          margin-top: -90px;
        }
      }
    }

    .backMobile {
      display: none;
    }


    h1 {
      position: absolute;
      top: 70px;
      width: 650px;
      left: calc((100% - 1280px)/2);
      color: color(primary);
      font-size: 45px;
      font-weight: 400;

    }

    .subtitle {
      position: absolute;
      top: 230px;
      left: calc((100% - 1280px)/2);
      width: 770px;
      font-weight: 300;
      font-size: 31px;
      color: color(primary);
    }
  }

  .h1 {
    margin-top: 40px;
    margin-left: calc((100% - 1280px)/2);
  }

  .collectorPart,
  .readerPart,
  .insurancePart {
    margin-top: 67px;
    padding: 67px calc((100% - 1280px)/2) 0 calc((100% - 1280px)/2);

    h2 {
      margin: 0 auto;
      font-size: 37px;
      color: white;
      font-weight: 400;
    }

    .explanation {
      width: 80%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 200;
      font-size: 16px;
      line-height: 18px;
      color: color(secondary, .8);
      text-align: center;
    }

    .tips {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      font-size: 16px;
      color: color(secondary, .8);
      text-align: center;
    }

    .cardsContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 168px;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 287px;
        padding: 0 25px 40px 25px;
        background-color: color(dark);
        border-radius: 6px;

        img {
          margin-top: -80px;
          width: 125px;
          height: auto;
          max-height: 125px;
        }

        h3 {
          width: 100%;
          margin-top: 43px;
          font-size: 24px;
          font-weight: 400;
          color: white;
          line-height: 29px;
        }

        p {
          width: 100%;
          font-weight: 200;
          margin-top: 21px;
          font-size: 16px;
          font-weight: 200;
          line-height: 19px;
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 50px;

      a {
        margin: 0 10px;
      }

      button {
        width: 220px;
        font-size: 16px;
      }
    }
  }

  .collectorPart {
    margin-top: 30px;
  }

  .readerPart {
    position: relative;
    margin-top: 115px;
    padding-bottom: 50px;
    background-color: color(primary-300);

    h2 {
      background-color: color(primary);
    }

    .separation {
      position: absolute;
      width: 100%;
    }

    .separation1 {
      top: -50px;
      left: 0;
    }

    .separation2 {
      bottom: -50px;
      left: 0;
    }
  }

  @media only screen and (max-width: 700px) {
    .cardsContainer {
      flex-direction: column !important;
      align-items: center;
    }

    .header {
      margin-top: 65px;
      height: 250px;

      .back {
        display: none;
      }

      .backMobile {
        display: block;
        height: 250px;
        position: relative;
        margin-top: -30px;

        img.background {
          height: 250px;
          position: absolute;
          top: 0;
          right: -80px;
          object-fit: contain;
        }
        .substract {
          position: absolute;
          bottom:25px;
          width: 100%;
        }
      }

      h1 {
        font-size: 18px;
        z-index: 1;
        top: 33px;
        left: 20px;
        width: 270px;
        font-weight: 700;
      }

      .subtitle {
        font-size: 14px;
        z-index: 1;
        left: 20px;
        top: 120px;
        width: 250px;
      }
    }
    .h1 {
      margin-top: 0;
      margin-left: 20px;
      width: fit-content;

      &::before {
        width: 84%;
      }
    }
    .collectorPart,
    .readerPart,
    .insurancePart {
      margin-top: 0;
      padding: 30px 20px 30px 20px;

      h2 {
        font-size: 14px;
      }

      .explanation, .tips {
        font-size: 12px;
      }

      .cardsContainer {
        margin-top: 104px;

        .card {
          margin-bottom: 90px;

          img {
            max-width: 145px;
            width: auto;
            height: auto;
            max-height: 100px;
            margin-top: -60px;
          }

          h3 {
            margin-top: 30px;
            font-size: 14px;
            text-align: center;
          }

          p {
            text-align: center;
            font-size: 12px;
          }

        }
      }

      .buttonContainer {
        flex-direction: column;
        align-items: center;
        margin-top: -40px;

        a {
          margin: 10px 0;
        }
      }
    }

    .readerPart {

  
      .separation1 {
        top: -16px;
      }
  
      .separation2 {
        bottom: -16px;
      }
    }
  }
}