@import './../color.scss';


.loginContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 136px);
  overflow: hidden;
  padding: 98px 0 0 calc((100% - 1059px)/2);

  .background {
    position: absolute;
    top: -136px;
    right: 0;
    z-index: -1;
  }

  h2 {
    margin-bottom: 38px;
    color: color(secondary);
    font-weight: 200;
    font-size: 25px;
  }

  .loginWrapper {
    width: fit-content;
    padding: 31px 43px 81px 35px;
    border: 0.2px solid color(secondary, 0.4);
    border-radius: 3px;
    background-color: color(primary);

    h3 {
      margin-bottom: 56px;
      font-size: 18px;
      font-weight: 400;
    }

    .error {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 200;
      color: color(red);
    }

    .inputText {
      width: 100%;
      margin-bottom: 20px;
      padding: 9px 16px;
      color: color(secondary);
      font-size: 12px;
      background-color: color(dark);
      border-radius: 3px;

      &.password {
        margin-bottom: 30px;
      }

      &::placeholder {
        color: color(secondary);
        font-size: 12px;
      }
    }

    .rememberMe {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      p {
        font-size: 14px;
      }

      input {
        width: 20px;
        height: 20px;
        padding: 7px;
      }
    }

    .btnUnderline {
      text-decoration: underline;
      font-size: 14px;
      margin-bottom: 71px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .button {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}