.mangaPage {  
  padding: 47px calc((100% - 1280px)/2);

  .mangaInfo {
    display: flex;
    padding: 49px 45px 51px 35px;
    border-radius: 3px;
    background-color: color(dark);
    margin-bottom: 23px;

    .cover {
      width: 264px;
      height: 421px;
      object-fit: cover;
      margin-right: 31px;
    }

    .rightContainer {
      width: 100%;

      .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2 {
          font-size: 37px;
          font-weight: 350;
          color: color(secondary);
        }

        .ranking {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          h3 {
            color: color(secondary);
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 37px;
          }

          .label {
            font-size: 14px;
            font-weight: 350;
            color: color(secondary, 0.6);
          }
        }
      }

      .info {
        display: flex;
        margin-bottom: 15px;

        .label {
          width: 150px;
          margin-right: 32px;
          font-size: 14px;
          font-weight: 350;
          color: color(secondary, 0.6);
        }

        .answer {
          font-size: 14px;
          font-weight: 350;
          color: color(secondary);
          line-height: 17px;
        }

        .frenchVolumes,
        .japVolumes {
          p {
            display: flex;
            align-items: center;

            img {
              width: 12px;
              margin: 0 6px;
            }
          }
        }
      }

      .infoSynopsis {
        flex-direction: column;

        .label {
          margin-right: 0;
          margin-bottom: 12px;
        }

        .answer {
          white-space: pre-wrap;
          height: 101px;
          overflow: hidden;
          margin-bottom: 20px;

          &.answerOpen {
            height: auto;
          }
        }

        .seemore {
          display: flex;
          align-self: flex-end;
          cursor: pointer;
          font-size: 14px;
          text-decoration: underline;
        }
      }

      .links {
        display: flex;
        .link {
          margin-right: 33px;
          text-decoration: underline;
          font-weight: 325;
          font-size: 14px;
          color: color(blue);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

  }

  .filterBar {
    width: 100%;
    margin-bottom: 23px;
    padding: 25px 45px 26px 20px;
    background-color: color(dark);
    border-radius: 3px;

    h3 {
      color: color(secondary);
      font-size: 12px;
      font-weight: 350;
    }

    .filters {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .DateRangePickerInput, .DateInput_input, .DateInput, .DayPicker__horizontal, .DateRangePicker_picker, .CalendarMonthGrid, .CalendarMonth, .CalendarDay__default  {
        background-color: color(primary)!important;
      }

      .CalendarDay__selected {
        background: color(dark) !important;
      }

      .DateRangePickerInput {
        margin-bottom: 0!important;
      }

      .filter {
        margin-right: 58px;

        &:last-child {
          margin-right: 0;
        }

        .label {
          margin-bottom: 6px;
          color: color(secondary, 0.6);
          font-size: 12px;
          font-weight: 325;
        }

        .inputs {
          display: flex;
          align-items: center;
          color: color(secondary, 0.6);
          font-size: 12px;
          font-weight: 325;

          input {
            width: 40px;
            height: 25px;
            padding: 6px;
            background-color: color(primary);
            border-radius: 3px;
          }

          p {
            margin: 0 7px;
          }
        }

        .select {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 25px;
          padding: 6px;
          padding-right: 9px;
          color: color(secondary, 0.6);
          font-size: 12px;
          font-weight: 325;
          background-color: color(primary);
          border-radius: 3px;

          &.selectGeo {
            width: 169px;
          }

          &.selectDelivery {
            width: 170px;
          }

          &.selectFilter {
            width: 134px;

            .options {
              width: 154px;
            }
          }

          p {
            color: color(secondary, 0.6);
            font-size: 12px;
            font-weight: 325;
          }

          img {
            transform: rotate(-90deg);
            transition-duration: 0.3s;
            cursor: pointer;

            &.imageOpen {
              transform: rotate(90deg);
              transition-duration: 0.3s;
            }
          }

          .options, .autocompletion {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            z-index: 10;
            width: 184px;
            background-color: color(lightDark);
            border-radius: 3px;

            .cityList {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              padding: 10px 6px 8px 6px;
              border-bottom: 0.5px solid color(secondary, 0.1);

              .cityLabel {
                display: flex;
                align-items: center;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 5px 3px;
                color: color(secondary);
                font-size: 12px;
                font-weight: 325;
                background-color: color(primary);
                border-radius: 3px;

                img {
                  margin-left: 5px;
                }
              }
            }

            .rayon {
              width: 100%;
              border-bottom: 0.5px solid color(secondary, 0.1);
            }

            button {
              display: flex;
              justify-content: center;
              width: 100%;
              border-bottom: 0.5px solid color(secondary, 0.1);
              padding: 10px 0;

            }

            .option {
              padding: 9px;
              padding-right: 5px;
              border-bottom: 0.5px solid color(secondary, 0.12);
              cursor: pointer;



              &:last-child {
                border-bottom: 0;
              }
            }
          }
        }

      }
    }

    .activeFilters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
  
      .labels {
        display: flex;
        flex-wrap: wrap;
  
        .label {
          display: flex;
          align-items: center;
          margin-right: 12px;
          margin-top: 5px;
          padding: 5px 5px;
          font-size: 12px;
          font-weight: 325;
          color: color(secondary);
          background-color: color(primary);
          border-radius: 3px;

          img {
            margin-left: 12px;
            cursor: pointer;
          }
        }
      }

      .resetFilters {
        display: flex;
        align-items: center;
        height: 25px;
        padding: 0 13px;
        color: color(secondary);
        font-size: 12px;
        font-weight: 325;
        background-color: color(lightDark);
        border-radius: 3px;

        svg {
          height: 20px;
          margin-right: 7px;
        }
      }
    }
  }

  
}

@media only screen and (max-width: 700px) {
  .mangaPage {  
    position: relative;
    min-height: 100vh;
    padding: 0;
    padding-top: 35px;

    .tabulations {
      display: flex;
      width: 100%;

      .tabulation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50px;
        color: color(againWeirdOtherColor);
        font-weight: bold;
        font-size: 14px;

        &.tabSelected {
          border-bottom: 2px solid color(secondary);
        }
      }
    }

    .mangaInfo {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      padding: 21px 20px 24px 20px;
      border-radius: 3px;
      margin-bottom: 23px;

      .cover {
        width: 127px;
        height: 199px;
        object-fit: cover;
        margin-right: 8px;
      }
  
      .rightContainer {
        width: auto;

        .header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-bottom: 27px;
  
          h2 {
            font-size: 20px;
            font-weight: 350;
            color: color(secondary);
            margin-bottom: 17px;
          }
  
          .ranking {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
  
            h3 {
              color: color(secondary);
              margin-bottom: 0;
              font-weight: bold;
              font-size: 20px;
            }
  
            .label {
              font-size: 8px;
              font-weight: 350;
              color: color(secondary, 0.6);
            }
          }
        }

        .info {
          display: flex;
          margin-bottom: 10px;
  
          .label {
            width: 100px;
            margin-right: 12px;
            font-size: 10px;
            font-weight: 350;
            color: color(secondary, 0.6);
          }
  
          .answer {
            font-size: 10px;
            font-weight: 350;
            color: color(secondary);
            line-height: 12px;
          }
  
          .frenchVolumes,
          .japVolumes {
            p {
              display: flex;
              align-items: center;
  
              img {
                width: 10px;
                margin: 0 4px;
              }
            }
          }
        }
      }

      .infoSynopsis {
        flex-direction: column;

        .label {
          margin-right: 0;
          margin-bottom: 12px;
          font-size: 10px;
          font-weight: 350;
          color: color(secondary, 0.6);
        }

        .answer {
          white-space: pre-wrap;
          height: 101px;
          overflow: hidden;
          margin-bottom: 20px;
          font-size: 10px;
          font-weight: 350;
          color: color(secondary);
          line-height: 12px;

          &.answerOpen {
            height: auto;
          }
        }

        .seemore {
          display: flex;
          align-self: flex-end;
          cursor: pointer;
          font-size: 10px;
          text-decoration: underline;
        }
      }

      .links {
        display: flex;
        .link {
          margin-right: 33px;
          text-decoration: underline;
          font-weight: 325;
          font-size: 14px;
          color: color(blue);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .filterBar {
      width: 100%;
      margin-bottom: 23px;
      padding: 25px 45px 26px 20px;
      background-color: color(dark);
      border-radius: 3px;

      .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .filter {
          margin-top: 20px;
        }
      }

      &.filterBarMobile {
        position: absolute;
        top: -100%;
        height: 100vh;
        transition-duration: 0.3s;
      }

      &.filterBarMobileOpen {
        top: 35px;
        z-index: 50;
        transition-duration: 0.3s;
      }

      .activeFilters {
        flex-direction: column;
        align-items: flex-start;

        .resetFilters {
          margin-top: 20px;
        }
      }
    }

    .result {
      padding-top: 31px;
    }

    .footer {
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      width: 100%;
      height: 65px;
      background-color: color(primary);

      .btnOpenFilter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 195px;
        height: 40px;
        color: color(primary);
        background-color: color(secondary);
        border-radius: 3px;
      }

    }
  }
}