.modalContainerFullscreen {

  .cuteCat {
    margin-top: 20px;
  }

  .care {
    text-align: center;
    color: color(secondary, .5);
  }

  .sure {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    color: color(secondary, .6);
  }

  .buttonsContainer {
    display: inline-flex;
    button {
      margin-right:10px;

      &:last-child {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}

.container {

  .h1 {
      margin-top: 50px;
      margin-bottom: 40px;
  }


  .collectionProductsContainer {

    .createAnnonce {
      width: 245px;
      height: 400px;
      background-color: color(dark);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 142px;
      font-weight: 200;
      cursor: pointer;

      span {
        transition: all .2s ease-in-out;
      }

      &:hover {
        span {
          transform: scale(1.1);
        }
      }

    }
    .cardProduct {
      position: relative;

      .modalContainer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: color(dark, .4);
        box-shadow: 0 4px 34px rgba(0, 0, 0, .8);

        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          
          span {
            color: color(secondary, 0.7);
            font-size: 14px;
            font-weight: 300;
          }

          button {
            width: 100%;
            margin-top: 20px;
          }
        }
        }


      &.draft {
        a {
          opacity: .5;
        }
      }

      .info {
        .downerInfo {
          .update {
            display: inline-flex;

            .delete, .modify {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #1f2b33;
              width: 33px;
              height: 33px;
              border-radius: 3px 3px 0 0;
              margin-bottom: -11px;
              cursor: pointer;

              img {
                max-width: 20px;
                max-height: 20px;
                width: auto;
                height: auto;
              }

              &:first-child {
                margin-right: 11px;
              }
            }
          }
        }
      }
    }
  }


}

@media (max-width: 700px) {
  .modalContainerFullscreen {
  
    .buttonsContainer {

      display: flex;
      flex-direction: column;

      button {
        margin:5px auto !important;
      }
    }
  }

  .collectionContainer {
    padding: 20px;
    margin-top: 65px;

    .h1 {
      margin-top: 20px;
    }
  }

  .container {

    .collectionProductsContainer {
    
      .createAnnonce {
        width: 100%;
        height: auto;
    
        span {
          transition: all .2s ease-in-out;
        }
    
        &:hover {
          span {
            transform: scale(1.1);
          }
        }
    
      }
    }
  }
}