.paiementPage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 52px calc((100% - 1280px)/2) 20px calc((100% - 1280px)/2);

  .leftContent {
    width: 579px;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 49px;

      img {
        margin-right: 14px;
        cursor: pointer;
      }

      h2 {
        color: color(secondary);
        font-size: 22px;
        font-weight: 400;
      }
    }

    .rentInfo {
      h3 {
        color: color(secondary);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 33px;
      }

      .date {
        margin-bottom: 37px;

        .headerDate {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 9px;

          .label {
            font-size: 14px;
            font-weight: 325;
            line-height: 17px;
            color: color(secondary, 0.6);
          }

          .editBtn {
            text-decoration: underline;
            font-size: 14px;
            font-weight: 325;
            line-height: 17px;
            color: color(secondary, 0.6);
          }
        }

        .dateNumber {
          font-size: 16px;
          font-weight: 325;
          line-height: 17px;
          color: color(secondary);
        }
      }

      .prices {
        width: 100%;
        margin-bottom: 22px;
        padding-bottom: 20px;
        border-bottom: 0.2px solid color(darkGrey);

        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 9px;

          .leftPart {
            display: flex;
            align-items: center;

            .radio {
              margin-right: 11px;
              background-color: color(dark);
            }

            .label {
              font-size: 16px;
              font-weight: 325;
              line-height: 19px;
              color: color(secondary);
            }
          }

          .priceNumber {
            font-size: 16px;
            font-weight: 325;
            line-height: 19px;
            color: color(secondary);
          }
        }
      }

      .creditCard {

        .cagnotte {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 43px;
          margin-bottom: 16px;
          background-color: color(dark);
          padding: 0 12px;
          font-size: 16px;
          font-weight: 300;

          .left {
            display: inline-flex;
            align-items: center;
          }

          button {
            margin-top: 0;
            margin-right: 10px;
          }

          img {
            margin-right: 15px;
          }
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 35px;

          h2 {
            color: color(secondary);
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
          }


          .imagesPayement {
            display: flex;

            img {
              max-height: 26px;
              margin-right: 14px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        
        input::placeholder {
          color: color(secondary);
          font-size: 12px;
          font-weight: 325;
        }

        .card {
          margin-top: 20px;

          
          .cardNumber {
            width: 100%;
            height: 48px;
            padding: 17px 14px;
            border-bottom: 0.5px solid color(secondary, 0.25);
            background-color: color(dark);
          }
          .cardMore {
            display: flex;
            height: 46px;
            background-color: color(dark);

            .cardExpiration {
              width: 247px;
              height: 100%;
              padding: 17px 14px;
              border-right: 0.5px solid color(secondary, 0.25);
            }

            .cardCrypto {
              width: 330px;
              height: 100%;
              padding: 17px 14px;
            }
          }
        }

        .postalCode,
        .country {          
          width: 100%;
          height: 43px;
          margin-top: 23px;
          padding: 17px 14px;
          background-color: color(dark);
        }

        .country {
          margin-top: 17px;
        }

        // button {
        //   margin-top: 21px;
        // }
      }
    }
  }

  .rightContent {
    width: 501px;
    height: fit-content;
    position: sticky;
    top: 52px;
    background-color: color(dark);
    border-radius: 3px;
    overflow: hidden;

    .card {
      display: flex;
      width: 100%;
      height: 291px;
      padding: 35px 37px 29px 25px;
      border-radius: 3px;
      border-bottom: 0.2px solid color(secondary, 0.4);

      img {
        width: 148px;
        margin-right: 11px;
      }

      .productInfo {
        width: 100%;
        h2 {
          margin-bottom: 7px;
          color: color(secondary);
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
        }

        .tomes {
          margin-bottom: 40px;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }

        .subtitle {
          margin-bottom: 23px;
          color: color(secondary,0.6);
          font-size: 14px;
          font-weight: 325;
          line-height: 17px;
        }

        .price, .priceTotal {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 9px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            color: color(secondary);
            font-size: 14px;
            font-weight: 325;
            line-height: 17px;

            &:first-child {
              text-decoration: underline;
            }
          }
        }

        .priceTotal {
          margin-top: 19px;
          p {
            font-weight: 400;
            
            &:first-child {
              text-decoration: none;
            }
          }
        }
      }
    }

    .bullshit {
      padding: 0 25px 28px 25px;
      border-bottom: 0.2px solid color(secondary, 0.4);

      .condition,
      .caution {
        margin-top: 23px;
  
        h3 {
          margin-bottom: 10px;
          color: color(secondary);
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
        }
  
        p {
          color: color(secondary);
          font-size: 12px;
          font-weight: 325;
          line-height: 14px;
        }
      }
  
      .caution {
        margin-top: 45px;
      }

    }

  }
  .acceptCGL {
    display: flex;
    align-items: center;
    margin-top: 25px;
    // margin-left: 27px;

    .checkBox {
      margin-top: 0 !important;
      margin-right: 18px;
    }

    p {
      font-size: 16px;
      font-weight: 325;
      
      .underline {
        text-decoration: underline;
        color: color(blue)
      }
    }
  }

  .error {
    width: fit-content;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 325;
    color: color(red);
  }

  .btnPay {
    margin: 20px auto;

    &.disable {
      cursor: not-allowed;
      background-color: color(grey);
    }
  }
}