.productPage {
  padding: 34px calc((100% - 1280px)/2);

  .mainContent {
    display: flex;
    justify-content: space-between;

    .leftContent {
      width: 100%;
      .images {
        position: relative;
        display: flex;
        margin-bottom: 15px;        
        height: 269px;
        padding-right: 10px;

        .badgeSilver {
          position: absolute;
          top: 18px;
          left: -30px;
        }
        
        .bigImage {
          width: 70%;
          height: 269px;
          object-fit: cover;
          margin-right: 9px;

          &.bigImageAlone {
            width: 100%;
          }
        }
  
        .otherImg {
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
            height: 127px;
            object-fit: cover;
  
            &:first-child {
              margin-bottom: 13px;
            }
          }

          &.otherImgAlone {
            img {
              height: 100%;
            }
          }
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        padding-right: 35px;

        .titleInfo {
          display: flex;
          .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
            margin-right: 17px;
          }
          
          .stars {
            display: flex;
            height: 5px;
            margin-top: 12px;
  
            svg {
              margin-right: 3px;

              path {
                fill: #F3C211;
              }              
            }
            
            .starEmpty {
              path {
                fill: color(darkGrey);
              }
            }
          }

          button {
            height: fit-content;
            margin-left: 6px;
            margin-top: 10px;
            color: color(secondary);
            font-size: 10px;
            font-weight: 300;
            text-decoration: underline;
          }
        }

        .actions {
          display: flex;
          margin-top: -7px;
          .like {
            position: relative;
            z-index: 0;
            margin-right: 16px;
    
            .backgroundLike {
              position: absolute;
              top: -10px;
              left: -6.5px;
              z-index: -1;
              width: 32px;
              height: 49px;
            }
    
            svg {
              path:last-child {
                fill: transparent;
                transition-duration: 0.3s;
                
                &:hover {
                  fill: white;
                  transition-duration: 0.3s;
                }
              }
            }            
          }
        }
      }
    }

    .rightContent {
      .prices {
        display: flex;
        margin-bottom: 5px;

        .mainContent {
          display: flex;
          flex-direction: column;
          height: 267px;
          margin-right: 5px;
          background-color: color(dark);
          border-radius: 3px;
          padding: 18px 16px 19px 16px;
  
          .pricing {
            width: 271px;
            border-bottom: 0.2px solid rgba($color: #F5F6F7, $alpha: 0.4);
  
            h2 {
              margin-bottom: 21px;
              font-size: 14px;
              font-weight: 200;
              color: rgba($color: #ffffff, $alpha: 0.5);
  
              span {
                font-size: 24px;
                color: white;
                font-weight: bold;
              }
            }
  
            .calendar {
              display: flex;
              margin-bottom: 22px;
              background-color: color(lightDark);
              padding: 9px 15px ;
              border-radius: 3px;
  
              .from,
              .to {
                display: flex;
                cursor: pointer;

                img {
                  margin-left: 15px;
                }

                .date {
                  margin-left: 14px;
                  padding-right: 21px;
                  border-right: 0.2px solid color(secondary,0.4);
                  p {
                  font-size: 12px;
                  font-weight: 200;
                  line-height: 12px;
  
                    &:first-child {
                      font-weight: 400;
                    }
                  }
                }                
              }
  
              .to {
                .date {
                  border-right: 0;
                  padding-right: 0;
                }
              }
            }
  
            .btnRent {
              margin-left: calc((100% - 159px)/2);
              border-radius: 3px;
              margin-bottom: 5px;
            }
  
            .btnInfo {
              margin-bottom: 22px;
              color: rgba($color: #ffffff, $alpha: 0.5);
              font-size: 10px;
              text-align: center;
            }

            .error {
              margin-bottom: 22px;
              font-size: 10px;
              font-weight: 200;
              color: color(red);
              text-align: center;
            }
          }
  
          .delivery {
            width: 100%;
            margin-top: 15px;
  
            .deliveryElement {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 11px;
  
              p {
                font-weight: 200;
                font-size: 11px;
  
                &:first-child {
                  text-decoration: underline;
                }
              }
  
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .otherPrice {
          .priceContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 131px;
            height: 131px;
            margin-bottom: 5px;
            color: rgba($color: #ffffff, $alpha: 0.4);
            background-color: color(dark);
            border-radius: 3px;
  
            &:last-child {
              margin-bottom: 0;
            }
  
            h3 {
              margin-bottom: 5px;
              font-size: 14px;
              font-weight: 600;
            }
  
            p {
              font-size: 10px;
              font-weight: 400;
            }
          }
        }
      }
      
      .collectorInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 13px 15px 14px;
        background-color: color(dark);

        .collector {
          display: flex;
          align-items: center;
          .profilPic {
            width: 45px;
            height: 45px;
            margin-right: 12px;
            overflow: hidden;
            border-radius: 50%;
            cursor: pointer;
  
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          .moreInfo {
            p {
              font-size: 12px;
              font-weight: 200;
              margin-bottom: 10px;
  
              span {
                font-weight: 400;
              }
            }
  
            .stars {
              display: flex;
              height: 5px;
    
              svg {
                margin-right: 3px;

                path {
                  fill: #F3C211;
                }               
              }

              .starEmpty {
                path {
                  fill: color(darkGrey);;
                }
              }
            }
          }
        }
        
      }
    }
  }

  .descriptionContent {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    .descriptionContainer {
      width: 831px;
      padding-right: 10px;

      .title {
        color: color(secondary, 0.4);
        font-size: 10px;
        line-height: 143.5%;
        margin-bottom: 6px;
      }

      .description {
        width: 100%;
        height: 233px;
        padding: 9px;
        font-weight: 200;
        font-size: 12px;
        line-height: 14px;
        background-color: color(dark);
        border-radius: 3px;
      }
    }

    .adImg {
      width: 439px;
      height: 252px;
    }


  }

  .moreContent {
    .sameManga {
      margin-top: 47px;

      h2 {
        margin-bottom: 20px; 
        color: color(secondary);
        font-weight: 400;
        font-size: 22px;
      }

      .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        padding-left: calc((100% - 1280px)/2);
        padding-right: calc((100% - 1280px)/2);
      }
    }
  }
}

@media (max-width: 600px) {
  .productPage {
    padding: 0 20px;

    .mainContent {
      flex-direction: column;

      .leftContent {
        margin-bottom: 14px;

        .images {
          width: 100%;
          height: auto;
          display: block;

          .badgeSilver {
            z-index: 100;
          }

          .mobileImages {
            position: relative;
            width: 100vw;
            height: 269px;
            margin-left: -20px;
            overflow: hidden;
  
            .mobileImage {
              position: absolute;
              top: 0;
              left: -100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition-duration: 0.3s;
            }

            .mobileImageFirst {
              left: 0;
            }

            .leftArrow,
            .rightArrow {
              position: absolute;
              top: 120px;
              z-index: 50;
              width: 7px;
              height: 14px;
            }

            .rightArrow {
              left: calc(100% - 21px);
            }

            .leftArrow {
              transform: rotate(180deg);
              left: 21px;
            }
          }

        }

        .info {
          .titleInfo {
            .title {
              margin-bottom: 7px; 
              font-size: 15px;
              font-weight: 350;
            }

            .tome {
              font-size: 12px;
              font-weight: 350;
            }

            .stars {
              margin-top: 4px;
            }
          }
        }
      }

      .rightContent {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .collectorInfo {
          margin-bottom: 5px;

          .imgMessage {
            transform: rotate(180deg);
          }
        }

        .prices {
          margin-bottom: 0;

          .mainContent {
            width: 65%;

            .pricing {
              width: 100%;
              h2 {
                font-size: 12px;
                span {
                  font-size: 22px;
                  margin-right: 3px;
                }
              }

              .DateRangePicker {
                width: 100%;
                height: fit-content;

                .DateRangePickerInput {
                  background: #364E5F !important;
                  .DateInput {
                    width: 80px!important;

                    .DateInput_input {
                      font-size: 10px!important;
                      width: 80px!important;
                    }
                  }
                }
              }
            }
          }

          .otherPrice {
            width: calc(35% - 5px);

            .priceContainer {
              width: 100%;
            }
          }

        }
      }
    }

    .descriptionContent {
      width: 100%;

      .descriptionContainer {
        width: 100%;
        padding-right: 0;

        .description {
          height: 147px;
        }
      }
    }

    .moreContent {
      .sameManga {
        h2 {
          font-size: 14px;
        }
      }
    }
  }
}
