.headerProfil {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 23px;
  margin-top: 30px;
  padding: 0 calc((100% - 1280px)/2);

  .onglets {
    display: flex;

    h3 {
      margin-right: 30px;
      padding-bottom: 4px;
      font-size: 22px;
      color: color(secondary);
      font-weight: 300;
      line-height: 26px;
      cursor: pointer;

      &.selected {
        font-weight: 400;
        border-bottom: 3px solid white;
      }
    }
  }
} 

.profilContainer {
  display: flex;
  flex-direction: column;
  background-color: color(dark);
  border-radius: 3px;
  padding: 15px 20px;

  .link {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    color: color(blue);
    cursor: pointer;
    width: 100%;

    img {
      width: auto !important;
      max-height: 14px;
      margin-left: 10px;
    }
  }

  .topContainer {
    display: inline-flex;
    height: 120px;
    padding-bottom: 20px;
    border-bottom: .5px solid color(someLine, 0.4);

    .left {
      width: 30%;
      display: inline-flex;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-right: 13px;
      }

      .hello {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;

        input {
          opacity: 0; /* make transparent */
          z-index: -1; /* move under anything else */
          position: absolute; /* don't let it take up space */
        }

        .offSet {
          height: 12px;
        }

        .mainText {
          font-size: 16px;
          color: color(secondary);
        }

        .subText {
          font-size: 14px;
          font-weight: 300;
          text-decoration: underline;
          color: color(secondary, .6);
          cursor: pointer;
        }

      }
    }

    .right {
      width: 70%;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: inline-flex;
        justify-content: space-between;

        div {
          font-size: 14px;
          font-weight: 300;
          color: color(secondary, .6)
        }

        a {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 300;
          color: color(blue);
          cursor: pointer;
          
          p {
            height: 10px;
            margin-right: 10px;
          }
        }
      }

      .middle {
        z-index: 1;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;

        img {
          transform: scale(1.2);
        }

        &:after {
          z-index: -1;
          height: 1px;
          content:'';
          position: absolute;
          left: 0;
          top: 50%;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          border-bottom: 1px color(someLine);
          border-style: dashed solid;
          width: 100%;
        }
      }

      .bot {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        .subLine {
          margin-top: -1px;
          position: absolute;
          height: .5px;
          width: 100%;
          background-color: color(someLine);
        }

        .progression {
          position: absolute;
          height: 4px;
          background-color: color(red);
          border-radius: 10px;

        }
      }
    }
  }

  .middleContainer {
    display: inline-flex;
    width: 100%;
    padding-top: 20px;

    .left {
      width: 30%;
      padding-right: 20px;
      border-right: .2px solid color(someLine, 0.4);
      
      .title {
        font-size: 18px;
        margin-bottom: 25px;
      }

      .top {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: .2px solid color(someLine, 0.4);

        .prefLivraison {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          width: 70%;
          font-size: 13px;
          margin-bottom: 20px;

          button {
            background-color: color(backgroundCheckboxSometimes);

            &.checkBoxChecked {
              background-color: color(red);
            }
          }

          div {
            display: inline-flex;
            align-items: center;

            img {
              margin-right: 11px;
            }

            p {
              text-decoration: underline;
            }
          }
        }
      }

      .middle {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-bottom: 30px;
        border-bottom: .2px solid color(someLine, 0.4);

      }

      .bot {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .rewards {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .cardReward {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 184px;
            height: 80px;
            margin-bottom: 15px;
            padding: 0 15px;
            background-color: color(backgroundCheckboxSometimes);
            border-radius: 3px;

  
            img {
              margin-right: 14px;
            }
  
            .infoReward {
              .number {
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
              }
  
              .title {
                margin-bottom: 0;
                font-size: 11px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    .right {
      width: 70%;
      padding-left: 30px;

      .top {
        align-self: flex-end;
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 10px;
      }

      .firstSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        border-bottom: .2px solid color(someLine, 0.4);


        textarea {
          background-color: color(primary);
          padding: 15px 10px;
          color: color(seconday);
          border-radius: 3px;
          min-width: 100%;
          max-width: 100%;
          min-height: 95px;
          font-size: 13px;

          &::placeholder {
            color: color(secondary, .6)
          }

          &.change {
            background-color: color(backgroundCheckboxSometimes);
          }
        }
      }

      .secondSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-bottom: 40px;
        border-bottom: .2px solid color(someLine, 0.4);
      }

      .thirdSection {
        width: 100%;
        display: flex;
        flex-direction: column;

        h4 {
          margin-top: 25px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 300;
          color: color(secondary, .6);

          &:first-child {
            margin-top: 15px;
          }

          
        }
        
        .dropDown {
          .row {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-top: 30px;

            .inputContainer {
              display: flex;
              flex-direction: column;
              margin-right: 30px;

              label {
                font-size: 13px;
                color: color(secondaryText);
                margin-bottom: 15px;
              }

              input {
                width: 100%;
                margin-bottom: 15px;
                padding: 5px 10px;
                background-color: color(backgroundCheckboxSometimes);
                border-radius: 3px;

                &.notCheck {
                  background-color: color(red2);
                }

                &.check {
                  background-color: color(green2, 0.5);
                }
              }
            }
          }

            
            input::placeholder {
              color: color(secondary);
              font-size: 12px;
              font-weight: 325;
              background-color: color(backgroundCheckboxSometimes);
            }
    
            .card {
              margin-top: 20px;
              background-color: color(backgroundCheckboxSometimes);
    
              
              .cardNumber {
                width: 100%;
                height: 48px;
                padding: 17px 14px;
                border-bottom: 0.5px solid color(secondary, 0.25);
                background-color: color(backgroundCheckboxSometimes);
              }
              .cardMore {
                display: flex;
                height: 46px;
                background-color: color(backgroundCheckboxSometimes);
    
                .cardExpiration {
                  width: 247px;
                  height: 100%;
                  padding: 17px 14px;
                  border-right: 0.5px solid color(secondary, 0.25);
                }
    
                .cardCrypto {
                  width: 330px;
                  height: 100%;
                  padding: 17px 14px;
                }
              }
            }
    
            .postalCode,
            .country {          
              width: 100%;
              height: 43px;
              margin-top: 23px;
              padding: 17px 14px;
              background-color: color(backgroundCheckboxSometimes);
            }
    
            .country {
              margin-top: 17px;
            }
    

          button {
            float: right;
            margin-bottom: 15px;
          }
        }

        .logOut {
          padding: 25px 0;
          color: color(red);
          font-size: 16px;
          text-transform: uppercase;
          border-bottom: .2px solid color(someLine, 0.4);
          cursor: pointer;
        }

        .deleteAccount {
          padding: 25px 0;
          color: color(secondary, .6);
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
          cursor: pointer;
        }
      }

      button.button {
        align-self: flex-end;
        margin-top: 10px;
      }

      .topBox {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: .2px solid color(someLine, 0.4);

        .title {
          font-size: 18px;
          // margin-bottom: 25px;
        }

        .choiceBar {
          width: 200px;
          background-color: color(primary);
          font-weight: 300;

          .listContainer {
            background-color: color(primary);
          }
        }
      }

      .commandesContainer { 
        display: flex;
        flex-direction: column;

        .commande {
          display: inline-flex;
          width: 100%;
          height: 200px;
          // align-items: center;
          padding: 20px 0;
          border-bottom: .2px solid color(someLine, 0.4);

          .middle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin-left: 20px;

            .up {
              display: flex;
              flex-direction: column;

              div {
                display: inline-flex;

                &:first-child {
                  font-size: 16px;
                  font-weight: 400;
                  margin-bottom: 2px;
                }

                font-size: 12px;
                font-weight: 300;

              }

              .statut {
                border-radius: 100px;
                color: color(primary, 0.6);
                margin-left: 15px;
                padding: 4px 7px 2px;
                line-height: 16px;


                &.now {
                  background-color: color(green3);
                }

                &.later {
                  background-color: color(orange);
                }

                &.done {
                  background-color: color(blue);
                }
              }
            }

            .down {
              font-size: 16px;
              font-weight: 300;
              color: color(secondary);

                p {
                  &:first-child {
                    margin-bottom: 10px;
                  }
                }

              span {
                font-size: 14px;
                color: color(secondary, .7);
              }
            }
            
          }
        }
      }
    }

    .verif {
      display: inline-flex;
      align-items: center;
      color: color(secondary, 0.9);
      margin-bottom: 15px;

      img {
        margin-right: 10px;
      }

      input {
        background-color: color(backgroundCheckboxSometimes);
        border-radius: 3px;
        padding: 5px 10px;
      }

      .checkedText {
        font-size: 13px;
        font-weight: 300;
      }

      .notCheckedText {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}