.searchContainer {  

  .searchWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 11px;
    margin-bottom: 63px;
    padding: 47px calc((100% - 1280px)/2) 20px calc((100% - 1280px)/2);
    background-color: color(dark);

    .categoryContainer {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 325;
      color: color(secondary);

      .checkBox {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
    
  }

  .results {
    padding: 47px calc((100% - 1280px)/2) 20px calc((100% - 1280px)/2);
    .labelResult {
      margin-bottom: 22px;
      font-size: 22px;
      color: color(secondary);
    }
  }
}