.trendingPage {  
  padding: 47px calc((100% - 1280px)/2);

  .h1 {
    margin-bottom: 88px;
  }
  .top {
    margin-top: 73px;

    h3 {
      margin-bottom: 28px;
      font-size: 22px;
      color: color(secondary);

    }

    .slider {
      position: relative;
      display: flex;
      width: 100%;
      height: fit-content;
      overflow: auto hidden;

      .swiper-container {
        width: 100%;
      }

      .arrowContainer {
        position: absolute;
        top: 0;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 175px;

        &.leftArrowContainer {
          left: 0;
          transform: rotate(180deg);
          background: linear-gradient(271.15deg, #151C21 8.72%, rgba(21, 28, 33, 0) 106.56%);
        }

        &.rightArrowContainer {
          right: 0;
          background: linear-gradient(271.15deg, #151C21 8.72%, rgba(21, 28, 33, 0) 106.56%);
        }

        .arrow {
          z-index: 50;
          cursor: pointer;
          transform: rotate(180deg);
          margin-right: 16px;
  
          &.swiper-button-disabled,
          .swiper-button-hidden {
            display: none;
          }
        }

      }
    }

  }
}