.container {

    .h1 {
        margin-top: 50px;
        margin-bottom: 40px;
    }
}

@media (max-width: 700px) {
  .wishListContainer {
    padding: 20px;
    margin-top: 65px;

    .h1 {
      margin-top: 20px;
    }
  }
}