@import './font.scss';
@import './color.scss';

body {
  color: color(secondary);
  background-color: color(primary);
  font-family: 'GothamPro';
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.disable {
  cursor: not-allowed !important;
}

.floatingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  .infoBeta {
    position: absolute;
    width: 300px;
    top: -390px;
    left: -240px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s all ease;

    &.hide {
      z-index: -1000;
      opacity: 0;
      visibility: hidden;
    }

    &.show {
      opacity: 1;
      z-index: 300;
      visibility: visible;
    }

    .header {
      padding: 21px 28px;
      background-color: color(dark);
    }

    .body {
      padding: 21px 28px;
      background-color: color(primary-300);

      .title {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .message {
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        margin-bottom: 25px;
      }

      .cta {
        button {
          width: 100%;
        }
      }
    }
  }

  .floatingTrigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: color(red);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      position: absolute;
      transform: rotate(0deg);
      transition: all .3s ease;
      top: 20%;
      left: 20%;
      transition: .3s all ease;

      &.discuss {
        &.hide {
          opacity: 0;
        }
      }

      &.chevron {
        top: 32%;
        left: 28%;
        &.hide {
          opacity: 0;
        }
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background-color: #a3a5a9;
  -webkit-border-radius: 100px;
  opacity: 1;
  -webkit-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner {
  opacity: 0;
  background: rgba(0, 0, 0, 0);
}

div:not(.focus):not(:hover)::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  -webkit-transition: background-color 3000ms linear;
  -ms-transition: background-color 3000ms linear;
  transition: background-color 3000ms linear;
}


.h1 {
  position: relative;
  width: fit-content;
  padding: 7px 10px;
  font-family: $title;
  font-size: 37px;
  line-height: 37px;
  font-weight: 400;
  color: color(secondary);
  background-color: color(dark);
  

  // &::before {
  //   position: absolute;
  //   z-index: -1;
  //   top: 15px;
  //   left: 0;
  //   content: '';
  //   width: 102%;
  //   height: 30px;
  //   background-color: color(red);

  //   @media (max-width: 700px) {
  //     top: 10px;
  //     height: 10px;
  //   }
  // }

  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.h2 {
  color: color(secondary);
  font-weight: 200;
  font-size: 26px;
}

.h3 {
  color: color(secondary);
  font-weight: 200;
  font-size: 22px;
}

.container {
  width: 1280px;
  margin: auto;

}

.mentionsText {
  white-space: pre-line;
  line-height: 19px;
}


.stars {
  display: flex;
  height: 5px;
  margin-top: 12px;

  svg {
    margin-right: 3px;

    path {
      fill: #F3C211;
    }              
  }
  
  .starEmpty {
    path {
      fill: color(darkGrey);
    }
  }
}

.badgeSilver {
  position: absolute;
  top: 11px;
  left: -7px;
  display: inline-flex;
  align-items: center;
  // color: color(primary);
  color: #4F4D50;
  background: linear-gradient(266.5deg, #B5B5B5 2.81%, #FFFFFF 46.91%, #8E8E8E 93.8%);
  border-radius: 3px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.45));
  font-size: 12px;
  padding: 5px;

  img {
    margin-right: 3px;
  }
}

.badgePurple {
  position: absolute;
  top: 27px;
  left: -25px;
  display: inline-flex;
  align-items: center;
  // color: color(dark);
  color: #2F1642;
  font-size: 10px;
  background: linear-gradient(266.21deg, #771CBF 3.83%, #E9BFFD 47.15%, #771CBF 93.28%);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.37);
  border-radius: 3px;
  padding: 2px 20px;
  transform: rotate(-45deg);

  img {
    margin-right: 3px;
    margin-bottom: 1px;
  }

  p {
    padding-top: 2px;
  }
}

.div404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 1280px;
  margin: auto;

  h1 {
    font-size: 90px;
    color: color(secondary, 0.6);
    font-weight: 300;
    margin-bottom: 20px;
  }

  .sushi, .notFound {
    font-size: 40px;
    color: color(secondary);
  }
  
  .sushi {
    font-weight: 300;
  }

  img {
    margin-top: 20px;
  }

  button {
    margin-top: 70px;
    font-size: 16px;
    text-transform: uppercase;
  }
} 

span.bold {
  font-weight: 600;
  opacity: 1;
}

a.link {
  font-weight: 400;
  text-decoration: underline;
}

.mentionsText {
  h2 {
    margin: 20px 0;
    color: color(secondary);
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
  }

  h3 {
    margin: 10px 0;
    color: color(secondary);
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  font-weight: 300;

  p {
    margin: 5px 0;
  }
  a {
    color: color(blue);
    text-decoration: underline;
    word-break: break-all;
  }

  ul {
    list-style-type: disc;

    li {
      margin-left: 20px;
    }
  }
}


@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .h3 {
    font-size: 14px;
  }

  .div404 {
    width: 100%;
  }
}
