@import './font.scss';
@import './color.scss';

body {
  color: color(secondary);
  background-color: color(primary);
  font-family: 'GothamPro';
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h1 {
  position: relative;
  width: fit-content;
  font-size: 37px;
  font-weight: 600;
  color: color(secondary);

  &::before {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;
    content: '';
    width: 102%;
    height: 30px;
    background-color: color(red);

    @media (max-width: 700px) {
      top: 10px;
      height: 10px;
    }
  }

  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.h2 {
  color: color(secondary);
  font-weight: 200;
  font-size: 26px;
}

.h3 {
  color: color(secondary);
  font-weight: 200;
  font-size: 22px;
}

.container {
  width: 1280px;
  margin: auto;

}



.stars {
  display: flex;
  height: 5px;
  margin-top: 12px;

  svg {
    margin-right: 3px;

    path {
      fill: #F3C211;
    }              
  }
  
  .starEmpty {
    path {
      fill: color(darkGrey);
    }
  }
}

.badgeSilver {
  position: absolute;
  top: 11px;
  left: -7px;
  display: inline-flex;
  align-items: center;
  // color: color(primary);
  color: #4F4D50;
  background: linear-gradient(266.5deg, #B5B5B5 2.81%, #FFFFFF 46.91%, #8E8E8E 93.8%);
  border-radius: 3px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.45));
  font-size: 12px;
  padding: 5px;

  img {
    margin-right: 3px;
  }
}

.badgePurple {
  position: absolute;
  top: 27px;
  left: -25px;
  display: inline-flex;
  align-items: center;
  // color: color(dark);
  color: #2F1642;
  font-size: 10px;
  background: linear-gradient(266.21deg, #771CBF 3.83%, #E9BFFD 47.15%, #771CBF 93.28%);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.37);
  border-radius: 3px;
  padding: 2px 20px;
  transform: rotate(-45deg);

  img {
    margin-right: 3px;
    margin-bottom: 1px;
  }

  p {
    padding-top: 2px;
  }
}

.div404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 1280px;
  margin: auto;

  h1 {
    font-size: 90px;
    color: color(secondary, 0.6);
    font-weight: 300;
    margin-bottom: 20px;
  }

  .sushi, .notFound {
    font-size: 40px;
    color: color(secondary);
  }
  
  .sushi {
    font-weight: 300;
  }

  img {
    margin-top: 20px;
  }

  button {
    margin-top: 70px;
    font-size: 16px;
    text-transform: uppercase;
  }
} 


@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .h3 {
    font-size: 14px;
  }

  .div404 {
    width: 100%;
  }
}
