@import './font.scss';
@import './color.scss';

body {
  color: color(secondary);
  background-color: color(primary);
  font-family: 'GothamPro';
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h1 {
  position: relative;
  width: fit-content;
  font-size: 37px;
  font-weight: 600;
  color: color(secondary);

  &::before {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;
    content: '';
    width: 102%;
    height: 30px;
    background-color: color(red);
  }
}

.h2 {
  color: color(secondary);
  font-weight: 200;
  font-size: 26px;
}

.h3 {
  color: color(secondary);
  font-weight: 200;
  font-size: 22px;
}

.container {
  width: 1280px;
  margin: auto;
.stars {
  display: flex;
  height: 5px;
  margin-top: 12px;

  svg {
    margin-right: 3px;

    path {
      fill: #F3C211;
    }              
  }
  
  .starEmpty {
    path {
      fill: color(darkGrey);
    }
  }
}