$colors: (
  primary: #171F25,
  secondary: #F5F6F7,
  red: #DD0C18,
  dark: #25333D,
);

@function color($name, $opacity: 1) {
  $value: nth(map-get($colors, $name), 1);

  @if $opacity != 1 {
    @return unquote(
      "rgba(#{red($value)}, #{green($value)}, #{blue($value)}, #{$opacity})"
    );
  } @else {
    @return map-get($colors, $name);
  }
}